<?xml version="1.0" encoding="utf-8"?>
<DRS4Config>
    <RunConfig 
        triglevel="-50.0" 
        trigsource="3"
        center="0" 
        freq="5"
        numEvents="25000"
        chnOn0="1"
        chnOn1="1"
        chnOn2="0"
        chnOn3="0"
        posneg="0"
        ></RunConfig>
</DRS4Config>
